[Desktop Entry]
Name=SC Controller CC
GenericName=SC Controller CC
Comment=Edits controller mappings
Comment[ru]=Настройка контроллера
Exec=sc-controller
Type=Application
Icon=sc-controller
Categories=GTK;Settings;HardwareSettings;
MimeType=application/x-steamcontrollerdb-profile;application/x-scc-profile;application/x-scc-profile-package;
StartupWMClass=SC Controller CC
